{% extends 'logged.html.twig' %}

{% block title %}Chat{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/message-style.css') }}">
    <h3>Chat</h3><hr>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card bg-dark text-white">
                    <div class="card-header">
                        <h4 class="card-title">Chat</h4>
                    </div>
                    <div class="card-body" id="chat-box" style="height: 400px; overflow-y: scroll;">
                        <div class="message-container">
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="input-group">
                            <input type="text" class="form-control" id="message-input" placeholder="Digite sua mensagem...">
                            <button class="btn btn-primary" type="button" id="send-button">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('js/message-script.js') }}"></script>
{% endblock %}